<mat-horizontal-stepper #stepper>
  <mat-step *ngFor="let step of spec.steps; let i = index" [label]="step.label">
    <app-step-selector [step]="step" (reference)="setReference(step, $event)"></app-step-selector>
    <div class="actions">
      <button mat-button matStepperPrevious [disabled]="i === 0">Back</button>
      <button mat-button (click)="onClickNext(step)">Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
